*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}

body {
  margin: 0;
}

.full-screen-container {
  background-image: url("background-image.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  --color: hsl(var(--primary-dark-hsl), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.login__title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.input__group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
}

.input__group input {
  font-size: 1.2rem;
  padding: 0.5em;
  background-color: hsl(var(--primary-light-hsl), 0.1);
  border: none;
  border-radius: 0.25em;
  color: white;
}

.input__group input::placeholder {
  color: hsl(0, 0%, 50%);
}

.input__group input:not(:placeholder-shown):valid {
  outline: 1px solid hsl(var(--success-hsl));
}

.input__group input:not(:placeholder-shown):invalid {
  outline: 1px solid hsl(var(--error-hsl));
}

.input__group input:focus {
  outline: 1px solid hsl(var(--primary-hsl));
}

.input__group .msg {
  display: none;
  font-size: 0.75rem;
}

.input__group.error .msg {
  display: block;
  color: hsl(var(--error-hsl));
}

.input__group.success .msg {
  display: block;
  color: hsl(var(--success-hsl));
}

.login__button {
  margin-top: 15px;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  color: white;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.login__button:hover,
.login__button:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}
